<div class="container-fluid" style="padding-top:5px"> 
<div class="row">
    <div class="col-md-10">
        <h4>User List</h4>
    </div>
    <div class="col-md-2 text-right">
        <a class="btn btn-primary" [routerLink]="['/add']" >Add New User</a>
    </div>
</div>
<div style="padding-top:5px" class="row">
    <div class="col-md">
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                  <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>City</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let user of userList">
                  <td>{{user.id}}</td>
                <td>{{user.name | myTitleCase}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.city}}</td>
                <td>
                    <a class="btn btn-primary mr-2" (click)="showEditUserForm(user)"><i class="fa fa-edit"></i>Edit</a>
                    <a class = "btn btn-danger" (click)="deleteUser(user)"><i class="fa fa-trash"></i>Delete</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
</div>